# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebungen
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
/visual/hailort.log
/visual/pyvenv.cfg
/visual/yolov8n.pt